* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #D3D3D3;
    margin: 0;
    padding: 20px;
    color: #FF9B51;
}

.topbar {
    background: #035272;
    color: #FF9B51;
    padding: 20px;
    border-radius: 10px;
    max-width: 100vw;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background: red;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 150px;
    cursor: pointer;
}

.reset {
    background-color: red;
    color: white;
    font-size: 20px;
}

.layout {
    max-width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

.panel, .questions {
    background: #035272;
    padding: 16px;
    border-radius: 10px;
}

label {
    font-size: 14px;
}

textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 6px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.addQuestionButton {
    background: green;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.questions {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.question-text {
    margin-bottom: 8px;
    background: #D3D3D3;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

.delete {
    background: #d7623d;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 80px;
    margin-bottom: 20px;
}

#statusMessage {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.success {
    color: green;
}

.del, .error {
    color: red;
}

#qWord {
    font-size: 20px;
}