body {
  font-family: Arial, sans-serif;
  background: #f4f8f8;
  margin: 0;
}

.Login {
  width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.Login input,
.Login button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.app-container {
  width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #2c3e50
}

button {
  background-color: #4078c0;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* DashBoard Styles */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
}
.panel, .questions {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 8px;
}

.page-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 16px;
}

.card {
  width: 100%;
  max-width: 700px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.choice {
  display: block;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

