body {
  font-family: Arial, sans-serif;
  background: #D3D3D3;
  margin: 0;
}

.Login {
  width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.Login, .panel, .questions {
  background: #035272;
  color: #FF9B51;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.Login p, .panel p, .questions p,
.Login label, .panel label, .questions label,
.Login h2, .panel h2, .questions h2,
.Login h3, .panel h3, .questions h3 {
  color: white;
}

.Login input,
.Login button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.app-container {
  width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #2c3e50
}

button {
  background-color: #FF9B51;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
  font-weight: bold;
}

/* DashBoard Styles */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.layout {
  max-width: 900px;
  margin: 0 auto;
}
.panel, .questions {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

